html, body, #root {
  height: 100% ;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

body{
  background-color: rgb(32, 32, 32);
}

.ArtistList{
  display: flex;
  flex-direction: column;
  align-items: center;
  width : 75%
}

.ArtistItem{
  padding : 5px;
  margin: 5px;
  background-color: rgb(98, 98, 98);
  border : solid rgb(255, 115, 0) 1px;
  border-radius: 5px;
  width: 100%;
}

span{
  padding: 2px;
  border-radius: 3px;
  background-color: darkorange;
}

.AlbumDetail{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border: black solid 0.5px;
  background-color: rgb(68, 68, 68);
  border-bottom: 0px;
  border-right: 0px;
}

.open{
  padding: 2px;
  border: rgb(109, 109, 109) 1px;
  background-color: gray;
  border-radius: 3px;
}

.Artist{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icone{
  color:orange;
}